@keyframes loadingPage {
  0% {
    opacity: 1;
    z-index: 2;
  }
  99% {
    opacity: 1;
    z-index: 2;
  }
}
@keyframes loadingSpinner {
  1% {
    transform: rotate(720deg);
    color: #9356dc;
  }
  50% {
    color: #ff79da;
  }
  90% {
    transform: rotate(0);
    background-image: linear-gradient(to bottom left, #9356dc, #ff79da);
    background-clip: text;
    color: transparent;
  }
  100% {
    transform: rotate(0);
    background-image: linear-gradient(to bottom left, #9356dc, #ff79da);
    background-clip: text;
    color: transparent;
  }
}
@keyframes likeIcon {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes translateMenu {
  0% {
    transform: translateY(10%);
    opacity: 0;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes rotateIcon {
  0% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
* {
  box-sizing: border-box;
  font-family: "Roboto", Arial;
}

@font-face {
  font-family: "Shrikhand";
  src: url(../Shrikhand/Shrikhand-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url(../Roboto/Roboto-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}
body {
  height: 100vh;
  max-width: 1201px;
  margin: auto;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  body {
    width: auto;
  }
}
@media screen and (min-width: 992px) {
  body {
    width: auto;
  }
}

a {
  color: black;
  text-decoration: none;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0;
  height: 100vh;
  width: 100%;
  background-color: #f6f6f6;
  opacity: 0;
  z-index: -1;
  animation: loadingPage 4s linear forwards;
}
.loader p {
  font-family: "Shrikhand", sans-serif;
  font-size: 40px;
  color: black;
  animation: loadingSpinner 3.8s ease-out forwards;
}

.header__main img {
  display: block;
  width: 50%;
  margin-top: 20px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .header__main img {
    width: 30%;
  }
}
@media screen and (min-width: 992px) {
  .header__main img {
    width: 30%;
  }
}
.header__main .header--location {
  display: flex;
  justify-content: center;
  column-gap: 15px;
  background-color: #eaeaea;
  padding-top: 9px;
  padding-bottom: 9px;
  font-weight: bold;
  width: 100%;
  box-shadow: inset 0px 3px 2px #d5d5d5;
}
.header__main .header--location--input {
  border: none;
  background-color: #eaeaea;
  font-size: 15px;
  font-weight: bold;
  outline: none;
}
.header__main .header--location input::placeholder {
  color: #353535;
}
.header__main .header--location input:focus::placeholder {
  color: transparent;
}

.main__introductionBloc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #f6f6f6;
  padding: 40px 20px;
  margin-bottom: 25px;
}
.main__introductionBloc h1 {
  font-weight: bold;
  font-size: 26px;
  padding: 0px 15px;
}
.main__introductionBloc h1,
.main__introductionBloc p {
  text-align: center;
  margin-top: 0;
}
.main__introductionBloc p {
  font-size: 21px;
  letter-spacing: -1px;
  color: #4d4d4d;
  padding-bottom: 10px;
}
.main__introductionBloc .introduction__button {
  color: white;
  background: linear-gradient(to top left, #9356dc, #ff79da);
  border-radius: 50px;
  border: none;
  box-shadow: 5px 5px 8px #d5d5d5;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  padding: 20px;
}
.main__introductionBloc .introduction__button:hover {
  background: linear-gradient(to top left, #a978e3, #ffa2e5);
  box-shadow: 5px 5px 8px #898989;
}

.section__explanation {
  display: flex;
  flex-direction: column;
  padding: 3%;
  row-gap: 20px;
}
.section__explanation h2 {
  padding-left: 10px;
}

.button__explanation {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
@media screen and (min-width: 992px) {
  .button__explanation {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .button__explanation {
    flex-direction: row;
    justify-content: space-between;
  }
}

.button__list {
  display: flex;
}
.button__list p {
  position: relative;
  top: 18px;
  left: 11px;
  background-color: #9356dc;
  color: white;
  font-size: 12px;
  border-radius: 50%;
  padding: 3px 7px;
  height: min-content;
}
.button__list--basic {
  display: flex;
  align-items: center;
  column-gap: 20px;
  width: 100%;
  background-color: #f6f6f6;
  border: none;
  font-weight: bold;
  font-size: 16px;
  box-shadow: 5px 5px 8px #d5d5d5;
  padding: 30px 30px;
  border-radius: 20px;
}
.button__list--basic i {
  color: #7e7e7e;
  font-size: 18px;
}
.button__list--basic:hover {
  background-color: #f5edff;
}
.button__list--basic:hover i {
  color: #9356dc;
}
.section__restaurants {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  row-gap: 18px;
  margin-top: 30px;
  padding: 60px 20px;
}
.section__restaurants h2 {
  margin-bottom: 10px;
}
.section__restaurants__list {
  display: flex;
  flex-direction: column;
}
.section__restaurants__list--top, .section__restaurants__list--bottom {
  display: flex;
  flex-direction: column;
  row-gap: 18px;
  margin-bottom: 18px;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .section__restaurants__list--top, .section__restaurants__list--bottom {
    flex-direction: row;
    column-gap: 18px;
  }
}
@media screen and (min-width: 992px) {
  .section__restaurants__list--top, .section__restaurants__list--bottom {
    flex-direction: row;
    column-gap: 18px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .section__restaurants__list--top a, .section__restaurants__list--bottom a {
    flex: 1 1 50%;
  }
}
@media screen and (min-width: 992px) {
  .section__restaurants__list--top a, .section__restaurants__list--bottom a {
    flex: 1 1 50%;
  }
}
.section__restaurants__list .card {
  display: flex;
  flex-direction: column;
  background-color: white;
  position: relative;
  box-shadow: 5px 5px 8px #d5d5d5;
  height: 255px;
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
}
.section__restaurants__list .card img {
  height: 175px;
  width: 100%;
  object-fit: cover;
}
.section__restaurants__list .card--tag {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 85px;
  margin: 0;
  font-size: 15px;
  font-weight: bold;
  color: #008766;
  background-color: #99e2d0;
  position: absolute;
  top: 11px;
  right: 13px;
  border-radius: 2px;
}
.section__restaurants__list .card--textBox {
  display: flex;
  justify-content: space-between;
}
.section__restaurants__list .card--text {
  margin: 5px 0px;
}
.section__restaurants__list .card--text h3,
.section__restaurants__list .card--text p {
  margin: 5px 15px;
}
.section__restaurants__list .card--text p {
  font-size: 17px;
}
.section__restaurants__list .card .like-icon:hover .like-icon--basic {
  background-image: linear-gradient(to bottom left, #9356dc, #ff79da);
  background-clip: text;
  color: transparent;
}
.section__restaurants__list .card .like-icon:hover .like-icon--slide {
  animation: likeIcon 0.4s linear forwards;
}
.section__restaurants__list .card .like-icon--basic, .section__restaurants__list .card .like-icon--slide {
  font-size: 25px;
  position: absolute;
  bottom: 30px;
  right: 25px;
}
.section__restaurants__list .card .like-icon--slide {
  opacity: 0;
  background-image: linear-gradient(to bottom left, #9356dc, #ff79da);
  background-clip: text;
  color: transparent;
  font-weight: bold;
}

.header__menu img {
  display: block;
  width: 50%;
  margin-top: 20px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .header__menu img {
    width: 30%;
  }
}
@media screen and (min-width: 992px) {
  .header__menu img {
    width: 30%;
  }
}
.header__menu--icon {
  position: relative;
  top: 50px;
  left: 25px;
  font-size: 20px;
  color: #353535;
}

#banner {
  display: flex;
  position: relative;
  z-index: -1;
  height: 260px;
  width: 100%;
  object-fit: cover;
  padding: 0;
  margin: 0;
}

.main__menu {
  width: 100%;
  background-color: #f6f6f6;
  border-radius: 30px 30px 0px 0px;
  padding: 40px 13px 80px 13px;
  margin: 0;
  margin-top: -30px;
}
.main__menu h1 {
  font-family: "Shrikhand";
  font-weight: normal;
  margin: 0;
}
.main__menu .heading {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: baseline;
}
@media screen and (min-width: 992px) {
  .main__menu .heading {
    justify-content: center;
    column-gap: 50px;
  }
}
.main__menu .heading .like-icon:hover .like-icon--basic {
  background-image: linear-gradient(to bottom left, #9356dc, #ff79da);
  background-clip: text;
  color: transparent;
}
.main__menu .heading .like-icon:hover .like-icon--slide {
  animation: likeIcon 0.4s linear forwards;
}
.main__menu .heading .like-icon--basic, .main__menu .heading .like-icon--slide {
  position: absolute;
  font-size: 25px;
  bottom: 10px;
  right: 30px;
}
.main__menu .heading .like-icon--slide {
  opacity: 0;
  background-image: linear-gradient(to bottom left, #9356dc, #ff79da);
  background-clip: text;
  color: transparent;
  font-weight: bold;
}
@media screen and (min-width: 992px) {
  .main__menu--list {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
  }
}
.main__menu h1,
.main__menu i {
  font-size: 27px;
}
.main__menu h2 {
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase;
  margin-top: 40px;
  margin-bottom: 20px;
  padding-bottom: 5px;
  position: relative;
  height: 30px;
}
.main__menu h2:after {
  content: "";
  width: 40px;
  height: 3px;
  background: #99e2d0;
  position: absolute;
  bottom: -1px;
  left: 7px;
}
.main__menu h1,
.main__menu h2 {
  padding-left: 7px;
}
.main__menu h3,
.main__menu .price {
  font-weight: bold;
}
.main__menu h2,
.main__menu .price,
.main__menu p {
  color: #353535;
}
.main__menu .starters {
  animation: translateMenu 1s ease-in-out forwards;
}
.main__menu .mains {
  animation: translateMenu 1s 0.3s ease-in-out forwards;
}
.main__menu .deserts {
  animation: translateMenu 1s 0.5s ease-in-out forwards;
}
.main__menu .starters,
.main__menu .mains,
.main__menu .deserts {
  opacity: 0;
}
@media screen and (min-width: 992px) {
  .main__menu .starters,
.main__menu .mains,
.main__menu .deserts {
    display: flex;
    flex-direction: column;
    flex: 1 1 30%;
  }
}
.main__menu--choice {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  height: 70px;
  width: 100%;
  background-color: white;
  box-shadow: 5px 5px 8px #d5d5d5;
  border-radius: 20px;
  margin-bottom: 13px;
  padding: 10px 0px 0px 10px;
  overflow: hidden;
}
.main__menu--choice h3,
.main__menu--choice p,
.main__menu--choice .price {
  margin: 0;
  padding: 0;
}
.main__menu--choice .price {
  margin-bottom: 10px;
  margin-right: -50px;
  justify-self: flex-end;
}
.main__menu--choice .rotating-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: flex-end;
  height: 70px;
  width: 23%;
  margin-left: 3%;
  transform: translateX(180px);
  background-color: #99e2d0;
}
.main__menu--choice .rotating-icon i {
  color: white;
}
.main__menu--choice:hover .rotating-icon {
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}
.main__menu--choice:hover .rotating-icon i {
  animation: rotateIcon 0.5s 0.3s linear forwards;
}
.main__menu--choice:hover .price {
  transition: transform 0.6s ease-in-out;
  transform: translateX(-50px);
}
.main__menu--choice:hover .main__menu--text p {
  width: 77%;
}
.main__menu--text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  margin-bottom: 10px;
}
.main__menu--text h3,
.main__menu--text p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.main__menu--text h3 {
  font-weight: 18px;
  margin-bottom: 5px;
}
.main__menu--text p {
  font-weight: 14px;
  width: 100%;
  transition: width 0.6s ease-in-out;
}
.main__menu .button__menu {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.main__menu .button__menu button {
  color: white;
  background: linear-gradient(to top left, #9356dc, #ff79da);
  border-radius: 50px;
  border: none;
  box-shadow: 5px 5px 8px #d5d5d5;
  cursor: pointer;
  padding: 15px 55px;
  font-size: 15px;
}
.main__menu .button__menu button:hover {
  background: linear-gradient(to top left, #a978e3, #ffa2e5);
  box-shadow: 5px 5px 8px #898989;
}

footer {
  background-color: #353535;
  padding: 7%;
}
footer img {
  width: 100px;
  height: auto;
  filter: invert(100%);
}
footer ul {
  list-style-type: none;
  padding: 0;
}
@media screen and (min-width: 992px) {
  footer ul {
    display: flex;
    column-gap: 100px;
  }
}
footer ul li {
  margin-bottom: 10px;
}
footer ul li a {
  color: white;
}
footer .footer--text {
  display: flex;
  align-items: baseline;
  column-gap: 15px;
}
footer .footer--text p {
  margin: 0;
}
footer .fa-utensils {
  font-size: 14px;
}
footer .fa-hands-helping {
  font-size: 10px;
}

/*# sourceMappingURL=style.css.map */
