footer {
  background-color: rgb(53, 53, 53);
  color: white;
  padding: 7%;
  ul {
    list-style-type: none;
    padding: 0;
  }
  a {
    color: white;
  }
  img {
    width: 80px;
  }
  i {
    font-size: 10px;
    margin-right: 5px;
  }
}
