footer {
  background-color: $color-footer;
  padding: 7%;
  img {
    width: 100px;
    height: auto;
    filter: invert(100%);
  }

  ul {
    list-style-type: none;
    padding: 0;
    li {
      margin-bottom: 10px;
      a {
        color: white;
      }
    }
  }
  .footer--text {
    display: flex;
    align-items: baseline;
    column-gap: 15px;
    p {
      margin: 0;
    }
  }
  .fa-utensils {
    font-size: 14px;
  }
  .fa-hands-helping {
    font-size: 10px;
  }
}
