.header__main {
  @include header__main;
  .header--location {
    display: flex;
    justify-content: center;
    column-gap: 15px;
    background-color: $color-header;
    padding-top: 9px;
    padding-bottom: 9px;
    font-weight: bold;
    width: 100%;
    box-shadow: inset 0px 3px 2px $color-header-location-border;

    &--input {
      border: none;
      background-color: $color-header;
      font-size: 15px;
      font-weight: bold;
      outline: none;
      width: 30%;
    }
    input::placeholder {
      color: $color-header-location-text;
    }
    input:focus::placeholder {
      color: transparent;
    }
  }
}
