.header__main {
  @include header__logo;
  .header--location {
    display: flex;
    justify-content: center;
    column-gap: 15px;
    background-color: $color-header;
    padding-top: 9px;
    padding-bottom: 9px;
    font-weight: bold;
    width: 100%;
    box-shadow: inset 0px 3px 2px $color-header-location-border;

    &--input {
      border: 2px solid transparent;
      background-color: $color-header;
      font-size: 15px;
      font-weight: bold;
      outline: none;
    }
    input::placeholder {
      color: $color-header-location-text;
    }
    input:focus::placeholder {
      color: transparent;
    }
    input:focus {
      border: 2px solid black;
      border-radius: 3px;
    }
  }
}
