.main__menu {
  width: 100%;
  background-color: $color-background;
  border-radius: 30px 30px 0px 0px;
  padding: 40px 13px 80px 13px;
  margin: 0;
  margin-top: -30px;

  h1 {
    font-family: "Shrikhand";
    font-weight: normal;
    margin: 0;
  }
  .heading {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    @include desktop-only {
      justify-content: center;
      column-gap: 50px;
    }

    i {
      padding-right: 23px;
      &:hover {
        @include like-icon;
      }
    }
  }
  &--list {
    @include desktop-only {
      display: flex;
      flex-direction: row;
      align-items: center;
      column-gap: 10px;
    }
  }

  h1,
  i {
    font-size: 27px;
  }

  h2 {
    font-size: 16px;
    font-weight: normal;
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 20px;
    padding-bottom: 5px;
    position: relative;
    height: 30px;

    &:after {
      content: "";
      width: 40px;
      height: 3px;
      background: $color-tertiary;
      position: absolute;
      bottom: -1px;
      left: 7px;
    }
  }

  h1,
  h2 {
    padding-left: 7px;
  }
  h3,
  .price {
    font-weight: bold;
  }
  h2,
  .price,
  p {
    color: $color-header-location-text;
  }
  .price,
  p {
    padding-bottom: 10px;
  }
  .price {
    padding-left: 13px;
    padding-right: 20px;
  }
  .starters,
  .mains,
  .deserts {
    @include desktop-only {
      display: flex;
      flex-direction: column;
      flex: 1 1 30%;
    }
  }
  &--choice {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    height: 70px;
    margin-bottom: 13px;
    padding: 10px 0px 0px 10px;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;

    @include button--box-shadow;

    h3,
    p {
      margin-top: 3px;
      margin-bottom: 3px;
    }
    h3 {
      font-size: 18px;
    }
    p {
      font-size: 14px;
    }

    .moveToLeft {
      position: relative;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      left: 71px;
      flex: 1 1 20%;
      .rotating-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70px;
        width: 70px;
        background-color: $color-tertiary;
        border-radius: 0px 15px 15px 0px;
        i {
          color: white;
        }
      }
    }
    &:hover {
      cursor: pointer;
      .moveToLeft {
        animation: moveToLeft 0.5s ease-in-out forwards;
      }
      .rotating-icon i{
        animation: rotateIcon 0.5s ease-in forwards;
      }
      .main__menu--text {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        flex: 1 1 65%;
      }
    }
  }
  &--text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 1 80%;
  }
  .button__menu {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    button {
      @include button-gradient;
      padding: 15px 55px;
      font-size: 15px;
    }
  }
}
