.main__menu {
  width: 100%;
  background-color: $color-background;
  border-radius: 30px 30px 0px 0px;
  padding: 40px 13px 80px 13px;
  margin: 0;
  margin-top: -30px;

  h1 {
    font-family: "Shrikhand";
    font-weight: normal;
    margin: 0;
  }
  .heading {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: baseline;
    @include desktop-only {
      justify-content: center;
      column-gap: 50px;
    }
    .like-icon {
      &:hover {
        .like-icon--basic {
          @include like-icon-color;
        }
        .like-icon--slide {
          animation: likeIcon 0.4s linear forwards;
        }
      }
      &--basic,
      &--slide {
        position: absolute;
        font-size: 25px;
        bottom: 10px;
        right: 30px;
      }

      &--slide {
        opacity: 0;
        @include like-icon-color;
        font-weight: bold;
      }
    }
  }
  &--list {
    @include desktop-only {
      display: flex;
      flex-direction: row;
      align-items: center;
      column-gap: 10px;
    }
  }

  h1,
  i {
    font-size: 27px;
  }

  h2 {
    font-size: 16px;
    font-weight: normal;
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 20px;
    padding-bottom: 5px;
    position: relative;
    height: 30px;

    &:after {
      content: "";
      width: 40px;
      height: 3px;
      background: $color-tertiary;
      position: absolute;
      bottom: -1px;
      left: 7px;
    }
  }

  h1,
  h2 {
    padding-left: 7px;
  }
  h3,
  .price {
    font-weight: bold;
  }
  h2,
  .price,
  p {
    color: $color-header-location-text;
  }
  .starters {
    animation: translateMenu 1s ease-in-out forwards;
  }
  .mains {
    animation: translateMenu 1s 0.3s ease-in-out forwards;
  }
  .deserts {
    animation: translateMenu 1s 0.8s ease-in-out forwards;
  }
  .starters,
  .mains,
  .deserts {
    opacity: 0;
    @include desktop-only {
      display: flex;
      flex-direction: column;
      flex: 1 1 30%;
    }
  }
  &--choice {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    height: 70px;
    width: 100%;
    background-color: white;
    @include button--box-shadow;
    border-radius: 20px;
    margin-bottom: 13px;
    padding: 10px 0px 0px 10px;
    overflow: hidden;

    h3,
    p,
    .price {
      margin: 0;
      padding: 0;
    }
    .price {
      margin-bottom: 10px;
      margin-right: -50px;
      justify-self: flex-end;
    }
    .rotating-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      justify-self: flex-end;
      height: 70px;
      width: 23%;
      margin-left: 3%;
      transform: translateX(150px);
      background-color: $color-tertiary;
      i {
        color: white;
      }
    }
    &:hover {
      .rotating-icon {
        @include moveToLeft;
        i {
          animation: rotateIcon 0.5s 0.3s linear forwards;
        }
      }
      .price {
        transition: transform 0.6s ease-in-out;
        transform: translateX(-50px);
      }
      .main__menu--text p {
        width: calc(100% - 23%);
      }
    }
  }
  &--text {
    @include textEllipsis;
    width: 100%;
    margin-bottom: 10px;
    
    h3,
    p {
      @include textEllipsis;
    }
    h3 {
      font-weight: 18px;
      margin-bottom: 5px;
    }
    p {
      font-weight: 14px;
      width: 100%;
      transition: width 0.6s ease-in-out;
    }
  }

  .button__menu {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    button {
      @include button-gradient;
      padding: 15px 55px;
      font-size: 15px;
    }
  }
}
