.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: $color-background;
  opacity: 1;
  z-index: 2;
  animation: loadingPage 4s linear forwards;
  p {
    font-family: "Shrikhand";
    font-size: 40px;
    color: black;
    animation: loadingSpinner 4s ease-out forwards ;
  }
}
