@mixin button--box-shadow($color: $color-header-location-border) {
  box-shadow: 5px 5px 8px $color;
}
@mixin button--box-shadow-darken($color: $color-header-location-border) {
  box-shadow: 5px 5px 8px darken($color, 30%);
}
@mixin button-gradient {
  color: white;
  background: linear-gradient(to top left, $color-primary, $color-secondary);
  border-radius: 50px;
  border: none;
  @include button--box-shadow;
  cursor: pointer;
  &:hover {
    background: linear-gradient(
      to top left,
      lighten($color-primary, 8%),
      lighten($color-secondary, 8%)
    );
    @include button--box-shadow-darken;
  }
}
@mixin like-icon {
  background-image: linear-gradient(
    to bottom left,
    $color-primary,
    $color-secondary
  );
  background-clip: text;
  font-weight: bold;
  color: transparent;
}
@mixin header__logo {
  img {
    display: block;
    width: 50%;
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    @include tablet-only {
      width: 30%;
    }
    @include desktop-only {
      width: 30%;
    }
  }
}
@mixin tablet-only {
  @media screen and (min-width: map-get($breakpoints, minTablet)) and (max-width: map-get($breakpoints, maxTablet)) {
    @content;
  }
}
@mixin desktop-only {
  @media screen and (min-width: map-get($breakpoints, desktop)) {
    @content;
  }
}
@mixin moveToLeft {
  transform: translateX(0px);
  transition: transform 0.6s ease-in-out;
}
@mixin textEllipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
