$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$color-header: #eaeaea;
$color-header-location-border: #d5d5d5;
$color-header-location-text: #353535;
$color-text-introduction: #4d4d4d;
$color-background: #f6f6f6;
$color-icon-explanation: #7e7e7e;
$color-tag-text: #008766;
$color-footer: #353535;
$color-button-fonctionnenment: #f5edff;
