* {
  box-sizing: border-box;
  font-family: "Roboto", Arial;
}
@font-face {
  font-family: "Shrikhand";
  src: url(../Shrikhand/Shrikhand-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url(../Roboto/Roboto-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}
body {
  min-width: 375px;
  max-width: 1201px;
  margin: auto;
  @include tablet-only {
    width: auto;
  }
  @include desktop-only {
    width: auto;
  }
}
